#Java files...

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.plugin

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intellij Idea files
.idea/
*.iml
out/

# Eclipse files
.project
.classpath
bin/
.settings/
.metadata

#General files
*.bak

#Exclude every jar except those inside root project lib dir (dataplugin)
!/lib/*.jar
